/* * {
  margin: 0;
  padding: 0;
} */

body {
  /* find out why body had display of flex by default */
  display: block; 
}

#root {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 4px;
}

h2 {
  text-align: center;
  margin: 8px 0;
}

h1,
.score-table {
  margin: 12px 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 22px 10px;
}

.toggled {
  background-color: lightblue;
}